@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

.fullName-wrapper {
  position: relative;

  .name-surname-sex-inputs {
    margin-right: 110px;
    margin-left: 86px;
    padding-top: 50px;

    @include tablet {
      margin-right: 40px;
      margin-left: 16px;
    }

    .select {
      width: calc(40%);
      height: 44px;

      @include tablet {
        width: calc(80%);
      }
    }
  }
}
