@mixin tablet {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
  
  .info_inputs {
    margin-left: 24px;
  
    input {
      height: 20px;
      font-size: 14px;
      line-height: 20px;
      padding: 12px 14px;
      outline: 1px solid #d3d1d1;
      border-radius: 4px;
  
      &:hover {
        outline-color: #000;
      }
  
      &:focus {
        outline: 2px solid #5558fa;
      }
    }
  
    span {
      p {
        padding-top: 14px;
        padding-bottom: 10px;
      }
    }
  
    .error {
      padding-top: 8px;
      color: red;
      padding-bottom: 0px;
    }
  }
  