@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

.back-next-buttons {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-left: 110px;
  margin-right: 110px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 210px);

  @include tablet {
    bottom: 30px;
    width: calc(100% - 80px);
    margin-left: 40px;
  }

  &.sending {
    button:last-of-type {
      width: 103px;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  button {
    border-radius: 4px;
    width: 73px;
    height: 44px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    font-family: "SB Sans Interface";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  button:first-of-type {
    background: #fff;
    border: 1px solid #5558fa;
    color: #5558fa;

    &:hover {
      opacity: 0.6;
    }
  }

  button:last-of-type {
    background: #5558fa;
    border: none;
    color: #fff;

    &:hover {
      opacity: 0.9;
    }
  }
}
