* {
  margin: 0;
  font-family: "SB Sans Interface";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: #bbbbbb;
}

::-webkit-scrollbar-track {
  background: #e7e6e6;
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

.MuiInput-underline:before,
.MuiInput-underline:after {
  border-bottom: none !important;
}

.MuiInput-root {
  width: 40%;

  @include tablet {
    width: 80%;
  }
}

.wrapper {
  background: rgb(244, 244, 245);
  height: 100vh;
  width: 100vw;

  .main-container {
    background: rgb(255, 255, 255);
    position: fixed;
    width: 80%;
    height: 75%;
    border-radius: 12px;
    overflow-y: auto;

    margin-top: 2%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;

    &.high {
      height: 90%;
    }

    .save-form-button {
      padding-top: 40px;

      button {
        background: #5558fa;
        border: none;
        height: 44px;
        width: 79px;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}
