@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

.progress-bar {
  position: relative;
  background: #ebebeb;
  height: 8px;
  margin-top: 66px;
  margin-right: 110px;
  margin-left: 110px;

  @include tablet {
    margin-right: 40px;
    margin-left: 40px;
  }

  .progress {
    position: absolute;
    top: 0;
    height: 100%;
    background: #5558fa;
    border-radius: 100px;
  }

  .levels {
    position: absolute;
    top: -4px;
    width: 100%;

    .dots {
      display: flex;
      justify-content: space-between;
    }

    .numbers {
      padding-top: 12px;
      display: flex;
      justify-content: space-between;

      p {
        font-family: "SB Sans Interface";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #5558fa;
      }
    }
  }
}
